{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "rules": {
        "prefer-const": ["error", {
            "destructuring": "all"
        }],
        "react/jsx-filename-extension": 0,
        "react/forbid-prop-types": ["warn", {
            "forbid": ["any"]
        }]
    },
    "env": {
        "browser": true
    }
}